:root {
  --color-wolfpack-black: #000;
  --color-wolfpack-white: #fff;
  --color-wolfpack-red: #c00;
  --color-reynolds-red: #900;
  --color-pyroman-flame: #d14905;
  --color-hunt-yellow: #fac800;
  --color-geonomic-green: #6f7d1c;
  --color-carmichael-aqua: #008473;
  --color-innovation-blue: #427e93;
  --color-bio-indigo: #4156a1;
  --color-background: var(--color-wolfpack-white);
  --color-foreground: var(--color-wolfpack-black);
  --color-accent: var(--color-wolfpack-red);
  --color-accent-alt: var(--color-reynolds-red);
}

html, body {
  height: 100%;
}

.content {
  max-width: 75%;
  margin: 50px auto;
}

.navbar {
  background-color: var(--color-wolfpack-white);
  color: var(--color-wolfpack-black);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-link {
  color: var(--color-wolfpack-black);
}

.navbar-brand {
  color: var(--color-wolfpack-black);
  font-size: 12pt;
}

.splash {
  width: 100%;
  height: calc(100vh - 58.6666666667px);
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: clip;
  justify-content: center;
  align-items: center;
  background-repeat: false;
}
.splash h1 {
  color: white;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 10px 50px;
  height: auto;
  min-height: 80%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  color: white;
  background-color: rgb(26, 26, 26);
  border-top: 1px solid rgba(255, 255, 255, 0.1333333333);
  text-align: left;
}

.footer-content {
  flex-grow: inherit;
  padding: 10px 20px;
  width: 500px;
}

.callout {
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  text-align: left;
}
.callout h1 {
  font-size: 28pt;
  vertical-align: text-center;
}
.callout :not(h1) {
  font-size: 14pt;
}
.callout a {
  font-weight: 700;
}

#attention {
  color: var(--color-background);
  background-color: var(--color-wolfpack-red);
}
#attention a {
  color: var(--color-background);
}

.textbox {
  text-align: left;
}
