.member-grid {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(20px + 10%);
}

.team-member {
    min-height: 450px;
    max-height: 450px;
}

.member-profile {
    object-fit: contain;
    margin: 20px auto;
}

.member-name {
    font-weight: bold;
}

.member-info {
    font-variant-numeric: ordinal;
}

.member-roles {
    font-style: italic;
}

.member-links > a {
    margin: 5px;
    padding: 10px 0px;
}
