.robot-overview p{
    width: 65%;
}

.robot-overview img{
    max-width: 30%;
    max-height: 400px;
    margin: auto;
    text-align: center;
    border: 3px, solid, #000;
}

.robot-overview img, p{
    display: inline-block;
    text-justify: auto;
}