# CORE
Options -Indexes
Options -MultiViews
Options +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none
DirectoryIndex index.html

# TIMEZONE
SetEnv TZ America/New_York

# ERROR
ErrorDocument 404 https://ncsurobotics.github.io/404.html
