/* Global variables.  */

/* Basic variable definitions for color schemes */
:root {
  --gutter: var(--space-m-l);
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.04ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.04ch;
  --stroke: 1px solid var(--color-bg-accent);

  --gradient-rainbow: linear-gradient(90deg, #cf4662 10%, #fbbe25 30%, #62c95c 50%, #08bccb 75%, #a977d5 90%);
  --gradient-conic: conic-gradient(
    var(--color-tertiary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-primary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-gray-900) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );
  
  --gradient-stripes2: linear-gradient(
    45deg,
    var(--color-primary) 0 33%,
    var(--color-secondary) 0 66%,
    var(--color-tertiary) 0 100%
  );

  --gradient-modern: repeating-linear-gradient(315deg, #0084732e 92%, #073AFF00 100%),
    repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),
    radial-gradient(50% 75% at 90% 20%, #FF0000FF 0%, #073AFF00 100%),
    radial-gradient(50% 50% at 5% 85%, #FF0000FF 0%, #073AFF00 100%),
    radial-gradient(160% 154% at 711% -303%, #01AD95FF 0%, #4E92B0FF 100%);

  --gradient-modern-subdued: repeating-linear-gradient(315deg, #0084732e 92%, #073AFF00 100%),
    repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),
    radial-gradient(50% 75% at 100% 10%, #ff0000FF 0%, #073AFF00 100%),
    radial-gradient(50% 75% at 10% 100%, #ff0000FF 0%, #073AFF00 100%),
    radial-gradient(160% 154% at 711% -303%, #01AD95FF 0%, #4E92B0FF 100%);

  --color-light: white;
  --color-dark: var(--color-gray-900);
  --color-mid: var(--color-gray-400);
}

/* Light theme */
:root,
:root[data-theme='light'] {
  --color-text: var(--color-gray-800);
  --color-bg: var(--color-gray-100);

  --color-primary: var(--color-wolfpack-red);
  --color-secondary: var(--color-innovation-blue);
  --color-tertiary: var(--color-hunt-yellow-subdued);

  --color-text-accent: var(--color-gray-700);
  --color-bg-accent: var(--color-gray-200);
  --color-bg-accent-2: var(--color-gray-300);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-gray-100);
    --color-bg: var(--color-gray-800);

    --color-primary: var(--color-wolfpack-red-subdued);
    --color-secondary: var(--color-innovation-blue-subdued);
    --color-tertiary: var(--color-hunt-yellow-subdued);

    --color-text-accent: var(--color-gray-300);
    --color-bg-accent: var(--color-gray-700);
    --color-bg-accent-2: var(--color-gray-600);
  }
}
:root[data-theme='dark'] {
  --color-text: var(--color-gray-100);
  --color-bg: var(--color-gray-800);

  --color-primary: var(--color-wolfpack-red-subdued);
  --color-secondary: var(--color-innovation-blue-subdued);
  --color-tertiary: var(--color-hunt-yellow-subdued);

  --color-text-accent: var(--color-gray-300);
  --color-bg-accent: var(--color-gray-700);
  --color-bg-accent-2: var(--color-gray-600);
}
