---
layout: base
attributes:
  top: data-pagefind-weight = 0.5
---

<div class="region">
  <div class="wrapper flow">
    <h1 class="gradient-text-linear text-step-4">{{ title }}</h1>
    {{ content | safe }}
  </div>
</div>
