---
layout: base
title: Blog
description: 'All blog posts can be found here'
pagination:
  data: collections.allPosts
  size: 8
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
attributes: 
  top: data-pagefind-weight = 0.6
---

<div class="wrapper" >
  <header class="blog-header full | section">
    <div class="flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
  </header>

  <div class="region flow"></div>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>

{% css "local" %}
  {% include "css/blog.css" %}
{% endcss %}
