---
layout: base
permalink: /calendar.html
title: 'Calendar'
---

<div class="calendar full | section">
    <iframe class="calendar"
        src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FNew_York&bgcolor=%23ffffff&showPrint=0&showCalendars=0&mode=MONTH&src=Y19zczNjcWMybnExZjhlN2NqOXZlZmM2djN2Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5"
        frameborder="0"
        scrolling="no"
    ></iframe>
</div>

{% css "local" %}
  {% include "css/calendar.css" %}
{% endcss %}
