---
layout: base
permalink: /index.html
title: 'AquaPack Robotics'
blog:
  title: 'Blog'
  intro: "Showing the last 4 blog posts"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="splash" id="homepage-splash">
      <div class="splash" id="glass-panel">
        {# <img src="/assets/images/static/homepage-splash-logo.svg" eleventy:ignore id="splash-logo"> #}
        {% svg "misc/homepage-splash-logo-min", null, null, null, "splash-logo", "splash-logo" %}
      </div>
    </div>
  </header>
  <div class="full | region">
    <div class="wrapper flow prose">
      <h2>We build autonomous underwater vehicles!</h2>
      <p>
        AquaPack Robotics is a team of NC State University Students from a wide array of engineering & business disciplines. We strive to run a successful organization and build a competitive robot year after year, embodying NC States motto of "Think & Do".
      </p>
      {% image "/assets/images/robosub-24-team-photo.png", "RoboSub 2024 Team Photo", "RoboSub 2024 Team Photo, courtesy of RoboSub", "lazy", "", "about-image" %}
      <p>
        As a student-led 501(c)(3) organization, we are always open to new members from any major! <a href="/seawolves/pastSeawolves/">Since 2004</a> our team has worked outside the classroom to build competitive robots, improve our technical skills, and spread our passion for robotics throughout the community! 
      </p>
      <p>
        Our robot, <a href="/seawolves/seawolfVIII/index">SeaWolf</a>, competes in the RoboSub competition annually. You can learn more about RoboSub <a href="https://robosub.org">here</a>.
      </p>
    </div>
  </div>
  <div class="full | region">
    <div class="wrapper flow prose">
      {% image "/assets/images/openHouse.png", "Seawolf VIII and AquaPack members at the NCSU engineering open house", "Seawolf VIII and AquaPack members at the NCSU engineering open house", "lazy", "", "about-image" %}
      <h2>Our Four Subteams</h2>
    </div>

  {% include "partials/team-cards.njk" %}
  {% include "partials/hours.njk" %}
  
  {% set itemList = collections.AboutDetailsCollection %}
  <div class="full | region">
    <div class="wrapper flow prose">
      <h2>Learn more</h2>
      {% include 'partials/details.njk' %}
    </div>
  </div>
  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
      <blockquote class="flow">
        <p>{% svg "misc/people-group" %} Get Involved!</p>
        <p>If any information you have seen so far interests you, we would love for you to <a href="https://getinvolved.ncsu.edu/organization/aquapack">join our team!</a></p>
      </blockquote>
    </div>
  </section>
</div>

{% css "local" %}
  {% include "css/homepage.css" %}
{% endcss %}
