---
layout: base
permalink: /members/index.html
title: 'Members'
---
<div class="wrapper">
  {% set subsectionTitle = "Leadership" %}
  {% set selectedMembers =  members | d2a | selectattr('leadership') | rejectattr('alum') %}
  {% include 'partials/members-subsection.njk' %}

  {% set subsectionTitle = "Members" %}
  {% set selectedMembers =  members | d2a | rejectattr('leadership') | rejectattr('alum') %}
  {% include 'partials/members-subsection.njk' %}

  {% set subsectionTitle = "Alum" %}
  {% set selectedMembers =  members | d2a | selectattr('alum') %}
  {% include 'partials/members-subsection.njk' %}
</div>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
