---
layout: page
permalink: /sponsors/tiersnew.html
title: Sponsorship Tiers
---

<div class="wrapper">
    
    <div class="grid" data-layout="50-50">
        <div class="cell-text">
            <h4>Diamond</h4>
            <p>$6000+</p>
            <ul>
                <li>Logo placed onto a plaque on the robot</li>
                <li>Blog post written about the sponsorship</li>
                <li>Logo placed onto PCB silkscreen</li>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Swag Bag</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h4>Platinum</h4>
            <p>$3000-$5999</p>
            <ul>
                <li>Blog post written about the sponsorship</li>
                <li>Logo placed onto PCB silkscreen</li>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Swag Bag</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h4>Gold</h4>
            <p>$1000-$2999</p>
            <ul>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Swag Bag</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h4>Silver</h4>
            <p>$500-$999</p>
            <ul>
                <li>Swag Bag</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h4>Bronze</h4>
            <p>$100-$499</p>
            <ul>
                <li>Listed as a sponsor on this website</li>
            </ul>
    </div>
</div>