---
layout: base
permalink: /sponsors/tiers.html
title: 'Sponsors'
---

<div class="wrapper">
    <table class="flow">
            <thead>
                <tr>
                    <th class="tier">Tier</th>
                    <th class="value">Value Range</th>
                    <th>Benefits</th>
                </tr>
                <tr>
                    <td class="cell-text">Diamond</td>
                    <td class="cell-number">$6000+</td>
                    <td class="cell-text">
                        <ul>
                            <li>Logo placed onto a plaque on the robot</li>
                            <li>Blog post written about the sponsorship</li>
                            <li>Logo placed onto PCB silkscreen</li>
                            <li>Promoted on AquaPack apparel and banner</li>
                            <li>Swag Bag</li>
                            <li>Access to the Member Resume Book</li>
                            <li>Promotion during AquaPack events</li>
                            <li>Listed as a sponsor on this website</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="cell-text">Platinum</td>
                    <td class="cell-number">$3000-$5999</td>
                    <td class="cell-text">
                        <ul>
                            <li>Blog post written about the sponsorship</li>
                            <li>Logo placed onto PCB silkscreen</li>
                            <li>Promoted on AquaPack apparel and banner</li>
                            <li>Swag Bag</li>
                            <li>Access to the Member Resume Book</li>
                            <li>Promotion during AquaPack events</li>
                            <li>Listed on this website as a sponsor</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="cell-text">Gold</td>
                    <td class="cell-number">$1000-$2999</td>
                    <td>
                        <ul>
                            <li>Promoted on AquaPack apparel and banner</li>
                            <li>Swag Bag</li>
                            <li>Access to the Member Resume Book</li>
                            <li>Promotion during AquaPack events</li>
                            <li>Listed on this website as a sponsor</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="cell-text">Silver</td>
                    <td class="cell-number">$500-$999</td>
                    <td class="cell-text">
                        <ul>
                            <li>Swag Bag</li>
                            <li>Access to the Member Resume Book</li>
                            <li>Promotion during AquaPack events</li>
                            <li>Listed on this website as a sponsor</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="cell-text">Bronze</td>
                    <td class="cell-number">$100-$400</td>
                    <td class="cell-text">
                        <ul>
                            <li>Listed on this website as a sponsor</li>
                        </ul>
                    </td>
                </tr>
            </thead>
        </table>
</div>

{%- css "local" -%}
  {%- include 'css/table.css' -%}
  {%- include 'css/sponsors.css' -%}
{%- endcss -%}
