---
layout: page
permalink: /sponsors/tiers.html
title: Sponsorship Tiers
---

<div class="wrapper">
    <blockquote class="flow">
        <p>Interested in sponsoring us? Email us at <a href="mailto:aquapack@aquapackrobotics.org"> aquapack@aquapackrobotics.org<a>!</p>
</blockquote>
    <div class="grid" data-layout="50-50">
        <p></p>
        <p></p>
        <div class="cell-text">
            <h3>Diamond</h3>
            <p>$6000+</p>
            <ul>
                <li>Logo placed onto a plaque on the robot</li>
                <li>Blog post written about the sponsorship</li>
                <li>Logo placed onto PCB silkscreen</li>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h3>Platinum</h3>
            <p>$3000-$5999</p>
            <ul>
                <li>Blog post written about the sponsorship</li>
                <li>Logo placed onto PCB silkscreen</li>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h3>Gold</h3>
            <p>$1000-$2999</p>
            <ul>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Access to the Member Resume Book</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h3>Silver</h3>
            <p>$500-$999</p>
            <ul>
                <li>Promoted on AquaPack apparel and banner</li>
                <li>Promotion during AquaPack events</li>
                <li>Listed as a sponsor on this website</li>
            </ul>
        </div>
        <div class="cell-text">
            <h3>Bronze</h3>
            <p>$100-$499</p>
            <ul>
                <li>Listed as a sponsor on this website</li>
            </ul>
    </div>