.callout {
    width: 100%;
    height: fit-content;

    padding: 10px 20px;

    text-align: left;

    :not(h1) {
        font-size: 14pt;
    }

    & a {
        font-weight: 700;
    }
}

#attention {
    color: var(--color-background);
    background-color: var(--color-wolfpack-red);
    
    & a {
        color: var(--color-background);
    }
}
