footer {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 10px 50px;
    height: auto;
    min-height: 80%;

    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;

    color: white;
    background-color: rgb(10%, 10%, 10%);
    border-top: 1px solid #fff2;

    text-align: left;
}

.footer-content {
    flex-grow: inherit;
    padding: 10px 20px;
    width: 500px;
}
