.navbar {
    background-color: var(--color-wolfpack-white);
    color: var(--color-wolfpack-black);
    position: sticky;
    top: 0;
    left: 0;

}

.nav-link {
    color: var(--color-wolfpack-black);
}

.navbar-toggler:not(.collapsed) {
    transition: 250ms;
    rotate: 90deg;

    &.collapsed {
        rotate: 0deg;
    }
}

