.navbar {
    background-color: var(--color-wolfpack-white);
    color: var(--color-wolfpack-black);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}

.nav-link {
    color: var(--color-wolfpack-black);
}

.navbar-brand {
    color: var(--color-wolfpack-black);
    font-size: 12pt;
}
