.splash {
    width: 100%;
    height: calc(100vh - calc(40px + 14pt));

    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    overflow: clip;

    justify-content: center;
    align-items: center;

    background-repeat: false;

    & h1 {
        color: white;
    }

}

