.textbox {
    text-align: left;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;

    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

