#hours {
  --gutter: var(--space-xs-s);
  color: var(--color-text);
  padding: var(--space-s-m);
  max-inline-size: unset;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.bar-chart {
  list-style: none;

  & h1 {
      font-size: var(--size-step-min-1);
  }
}

.bar {
    display: inline-block;
    height: 10px;
    background-color: var(--color-primary);
}

#total-hours {
    background: linear-gradient(
        90deg,
        rgba(204, 0, 0, 1) 0%,
        rgba(204, 0, 0, 1) 80%,
        rgba(204, 0, 0, 0) 100%
    );
}
