<header class="wrapper ontop sticky-header">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="repel ontop gutter-s">
    <a href="/" class="logo | cluster" {{ indicateActiveHome }}>
      {% svg "misc/header_logo" %}
      <span class="font-display">Home</span>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>

{% css "local" %}
  {% include "css/header.css" %}
{% endcss %}
