{% if selectedMembers.length > 0 %}
  <div class="region flow">
    <h2>{{ subsectionTitle }}</h2>
    <div class="grid" data-layout="thirds">
      {% asyncEach member in selectedMembers %}
        <custom-card img-square>
          {% set imageName = member.image | default(member.firstName + "-" + member.lastName + ".jpg") | default("member.svg", true) %}
          {% image "/assets/images/members/" + imageName, "A photo of " + member.firstName + " " + member.lastName %}
        	<h2 slot="headline">{{ member.firstName }} {{ member.lastName }}</h2>
          {% if member.position %}
           	<h3 slot="subtitle">{{ member.position }}</h3>
          {% endif %}
          {% if member.teams.length > 0 %}
            <div slot="tag" webc:nokeep>
              {% asyncEach team in member.teams %}
                <span class="button" data-small-button>{{ team }}</span>
              {% endeach %}
            </div>
          {% endif %}
          {% if member.info.length > 0 %}
          	<p slot="content">
            {% asyncEach item in member.info %}
              {{ item  }}<br>
            {% endeach %}
            </p>
          {% endif %}
          <div slot="icons" webc:nokeep>
            {% if member.platforms %}
              {% for key, value in member.platforms %}
                {% if value != "" %}
                  <!-- regular platforms -->
                  <a class="no-indicator" href="{{ value }}" rel="me">
                    <span class="visually-hidden">{{ key | capitalize }}</span>
                    {% svg 'platform/' + key %}
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </custom-card>
      {% endeach %}
    </div>
  </div>
{% endif %}
